.firebaseui-auth-container {
    width: 100%;
}

.movie-div {
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 0px;
    background-color: white;
    width: 150px;
}

.otherRecs {
	width: 50px;
}

.otherRecs:hover {
	transform: scale(1.5);
}

.poster-image {
    padding-top: 56.25%;
    background-size: cover;
}

.recipe-pic {
    margin: 30px auto;
    border: solid 2px #feca30;
    border-radius: 5px 60px 5px;
}

.modal-content {
    width: 90%;
    margin: 0px auto;
}

.modal-dialog {
    margin-top: 100px;
}

.fa {
    margin-right: 7px;
}

.fa-github, .fa-linkedin {
    margin-right: 0px;
}

.modal-title {
    word-wrap: break-word;
}

.youtubeVid {
    margin: 25px auto;
}

.middleBtn {
    margin: 10px 5px;
}

.genre-buttons, .recipeButtons {
    width: 60%;
    margin: 25px auto;
}

.recipeButtons {
    margin-top: 35px;
}

#show-search-section, #recipe-search-section,
#show-results-section, #recipe-results-section {
    min-height: 700px;
}

#movie, #tv {
    margin: 35px 10px;
}

#movie {
    margin-left: 25px;
}

.about {
    line-height: 1.5;
    width: 75%;
    margin: 25px auto;
}

#about {
    padding-bottom: 0px;
}

.clients {
    padding: 25px;
    background: white;
    opacity: 0.6;
}

.resources {
    max-height: 90px;
    margin-top: 0px;
}

.intro-lead-p {
    margin: 25px;
}

.movie-div:hover {
    box-shadow: 0px 0px 5px 1px rgb(110, 110, 110);
    transform: scale(1.05);
}

form.section-subheading {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
}

/* hoverbox styling */

.hvrbox,
.hvrbox * {
    box-sizing: border-box;
}

.hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.hvrbox img {
    max-width: 100%;
}

.hvrbox .hvrbox-layer_bottom {
    display: block;
}

.hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
    opacity: 1;
}

.hvrbox .hvrbox-text {
    text-align: center;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179);
    /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
}

.hvrbox.active .hvrbox-text_mobile {
    display: block;
}

.hvrbox .hvrbox-layer_slideup {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

.hvrbox:hover .hvrbox-layer_slideup,
.hvrbox.active .hvrbox-layer_slideup {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.thumbTitle {
    max-height: 19px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

#heart {
    font-size: 20px;
    color: #feca30;
    vertical-align: top;
}

.jumbotron {
    background-color: white;
}

.icon {
    margin-left: 12px;
    margin-top: -30px;
    display: inline-block;
    width: 70px;
    height: auto;
}

#food {
    border-color: #87CEFA;
    margin: auto;
    width: 60%;
    padding: 10px;
    margin: 15px auto;
}

.btn-xl.go {
    background-color: #333;
    opacity: 0.9;
    color: #feca30;
    margin: 0px;
    margin-bottom: 15px;
}

.btn {
    cursor: pointer;
    border-radius: 25px;
}

.cuisines.btn.btn-primary {
    background-color: #fff;
    border: solid, #feca30 2px;
    color: #feca30;
    margin: 5px;
}

.movie-genre.btn.btn-primary, 
.tv-genre.btn.btn-primary {
    background-color: #feca30;
    border: solid #fff 2px;
    color: #fff;
    margin: 5px;
}

#genres {
    margin-bottom: 20px;
}

.recipeImgDiv {
    float: left;
    margin: 15px;
    width: 220px;
    text-align: center;
}

.title {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-mask-image: linear-gradient(15deg, rgba(0, 0, 0, 0.6) 60%, #000 80%, rgba(0, 0, 0, .6) 90%);
    -webkit-mask-size: 200%;
    animation: shine 2s linear infinite;
}

@keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

#something {
    margin-left: 20px;
    display: inline-block;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #333;
    border-color: #333;
    opacity: 0.9;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .modal-content {
        width: 100%;
    }
}
